<div class="row well task-row">
  <%= form_tag '#', name: "form-#{task_counter}", class: 'form task-form' do %>
      <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-addon">
                <a href="#" class="glyphicon glyphicon-remove remove-row"></a>
              </div>
              <label for='name' class="input-group-addon">Task:</label>
              <%= text_field_tag :name, task.name, class: 'form-control' %>
            </div>

            <div class="clearfix visible-xs-block"></div>
                <div class="input-group">
                    <div class="input-group-addon">Duration:</div>
                    <%= number_field_tag :old_duration, task.old_duration, max: 60, min: 0, step: 0.5, class: 'form-control'  %>
                    <div class="input-group-addon">min</div>

                    <div class="input-group-addon">New Duration:</div>
                    <%= number_field_tag :new_duration, task.new_duration, max: 60, min: 0, step: 0.5, class: 'form-control'  %>
                    <div class="input-group-addon">min</div>

                    <div class="input-group-addon">Rate:</div>
                    <%= number_field_tag :rate, task.default_rate, max: 500, min: 10, class: 'form-control'  %>
                    <div class="input-group-addon">$/hr</div>

                    <%= hidden_field_tag :old_cost, '' %>
                    <%= hidden_field_tag :new_cost, task.new_duration * task.default_rate %>
                    <div class="clearfix visible-xs-block"></div>
                </div>
     </div>
  <% end %>
</div>
