<div class="container">
    <div class="col-md-8">
        <h1>Tasks</h1>
        <%= render partial: 'row', collection: @tasks, as: :task %>
    </div>
    <div class="col-md-4">
      <%= form_tag '#', class: 'form totals-form' do %>
          <h2>Assumptions</h2>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Number of devices:</label>
            <%= number_field_tag :device_count, 1, min: 1, max: 100, class: 'form-control' %>
          </div>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Scans per device per day:</label>
            <%= text_field_tag :scans_per_day, 8, class: 'form-control' %>
          </div>
          <h2>Totals</h2>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Time per exam:</label>
            <%= text_field_tag :exam_time, '', readonly: true, class: 'form-control' %>
            <div class="input-group-addon">min</div>
          </div>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Time per day:</label>
            <%= text_field_tag :day_time, '', readonly: true, class: 'form-control' %>
            <div class="input-group-addon">min</div>
          </div>
          <h2>Savings</h2>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Time each day:</label>
            <%= text_field_tag :day_time_saved, '', readonly: true, class: 'form-control' %>
            <div class="input-group-addon">min</div>
          </div>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Time each year:</label>
            <%= text_field_tag :year_time_saved, '', readonly: true, class: 'form-control' %>
            <div class="input-group-addon">hours</div>
          </div>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Cost each day:</label>
            <div class="input-group-addon">$</div>
            <%= text_field_tag :day_cost_saved, '', readonly: true, class: 'form-control' %>
          </div>
          <div class="input-group input-group-lg">
            <label for='name' class="input-group-addon">Cost each year:</label>
            <div class="input-group-addon">$</div>
            <%= text_field_tag :year_cost_saved, '', readonly: true, class: 'form-control' %>
          </div>
      <% end %>
    </div>
</div>